.ellipse21{
    display: inline-block; 
    position: relative;
    width: 100px;
    height: 100px; 
    background: #808384;
    border: 4px solid #4D4D4E;
    border-radius:50%;
    left: 10px;
    top: -30px;
   color: #ffffff;
   z-index:1;
  }
  .vector12{
position: relative;
width: 0px;
height: 37px;
left: 60px;
top: 0px;
    border: 1px solid #047686;
    border-radius: 1px;
  }
.vector16{
 position: relative;

    width: 0px;
    height: 41px;
    left: 129px;
    top: -290px;
    border: 1px solid #E28B08;
    border-radius: 1px;
    transform: rotate(-90deg);

}


.vector11{
     position: relative;
     width: 220px; 
     height: 63px;
     left: -170px;
   top: -304px;  
     border: solid 2px #047686;
     border-color: #047686 transparent transparent transparent;
  
     transform: rotate(-205deg);
}
.line94{
     position: relative;
width: 83px;
height: 0px;
left: -70px;
top: -380px;
border: 1px solid #420BE0;
}
.vector10{
     position: relative;
width: 0px;
height: 56px;
left: 60px;
top: -355px;
border: 1px solid #F65353;
border-radius: 1px;
}
.vector13{
     position: relative;
width: 0px;
height: 30px;
left: 60px;
top: -325px;
border: 1px solid #F65353;
border-radius: 1px;

}

.vector165{
    
width: 0px;
height: 56px;
left: 60px;
top: -355px;

border-radius: 1px;
     position: relative;
  width: 0px; 
  height: 50px;
  left: 246px;
top: -510px;  
  border: solid 1px #e28b0800;
  

}
.vector166{
     position: relative;
  width: 0px; 
  height: 50px;
  left: 180px;
top: -484px;  
  border: solid 1px #e28b0800;


}
.rectangle42{
   display: inline-block; 
     position: relative;
box-sizing: border-box;
width: 131px;
height: 30px;
left: 0px;
top: 0px;
background: rgba(51, 133, 255, 0.1);
border: 4px solid rgba(6, 103, 247, 0.8);
border-radius: 8px;
}

.rectangle43{
    
     position: relative;
box-sizing: border-box;
width: 131px;
height: 30px;
left: -200px;
top: 35px;
background: rgba(124, 81, 247, 0.1);
border: 4px solid rgba(124, 81, 247, 0.8);
border-radius: 8px;
}

.rectangle45{
     position: relative;
    box-sizing: border-box;
width: 212px;
height: 30px;
left: -30px;
top: -130px;
background: rgba(246, 83, 83, 0.1);
border: 4px solid rgba(246, 83, 83, 0.8);
border-radius: 8px;
}
.rectangle46{
     position: relative;
box-sizing: border-box;
width: 130px;
height: 30px;
left: 0px;
top: -100px;
background: rgba(246, 83, 83, 0.1);
border: 3px solid rgba(246, 83, 83, 0.8);
border-radius: 8px;
}
.rectangle47{
 display: inline-block;
     position: relative;
box-sizing: border-box;
width: 164px;
height: 30px;
left: 150px;
top: -93px;
background: rgba(248, 171, 54, 0.105);
border: 4px solid rgb(248, 171, 54);
border-radius: 8px;
z-index:1;
}
.rectangle48{
     position: relative;
    box-sizing: border-box;
width: 98px;
height: 30px;
left: 150px;
top: -117px;
background: rgba(248, 170, 54, 0.1);
border: 3px solid rgba(248, 170, 54, 0.8);
border-radius: 8px;
}
.rectangle49{
     position: relative;
    box-sizing: border-box;
width: 114px;
height: 30px;
left: 250px;
top: -146px;
background: rgba(248, 170, 54, 0.1);
border: 3px solid rgba(248, 170, 54, 0.8);
border-radius: 8px;
}
.circle1{
    position: relative;
    width: 100px;
    height: 100px; 
background: #0667F7;
width: 26px;
height: 26px;
left: 116px;
top: -680px;
    border-radius:50%;
   color: #ffffff;
}
.circle2{
     position: relative;
     width: 100px;
     height: 100px; 
     background: #047686;
 width: 26px;
 height: 26px;
 left: -160px;
 top: -500px;
     border-radius:50%;
    color: #ffffff;
 }
 .circle3{
     position: relative;
     width: 100px;
     height: 100px; 
     background: #F65353;
 width: 26px;
 height: 26px;
 left: 160px;
 top: -545px;
     border-radius:50%;
    color: #ffffff;
 }
 .dot1{
     position: relative;
     width: 100px;
     height: 100px; 
     background: #F65353;
 width: 6px;
 height: 6px;
 left: 58px;
 top: -507px;
     border-radius:50%;
 }
 .dot2{
     position: relative;
     width: 100px;
     height: 100px; 
     background: #F65353;
 width: 6px;
 height: 6px;
 left: 58px;
 top: -569px;
     border-radius:50%;
 }
 .dot3{
     position: relative;
     width: 100px;
     height: 100px; 
     background: #420BE0;
 width: 6px;
 height: 6px;
 left: -70px;
 top: -660px;
     border-radius:50%;
 }
 .dot4{
     position: relative;
     width: 100px;
     height: 100px; 
     background: #047686;
 width: 6px;
 height: 6px;
 left: 58px;
 top: -734px;
     border-radius:50%;
 }
 .dot5{
     position: relative;
     width: 100px;
     height: 100px; 
     background: #E28B08;
 width: 6px;
 height: 6px;
 left: 150px;
 top: -668px;
     border-radius:50%;
 }
 .dot6{
     position: relative;
     width: 100px;
     height: 100px; 
     background: #E28B08;
 width: 6px;
 height: 6px;
 left: 180px;
 top: -640px;
     border-radius:50%;
 }
 .dot7{
     position: relative;
     width: 100px;
     height: 100px; 
     background: #E28B08;
 width: 6px;
 height: 6px;
 left: 290px;
 top: -647px;
     border-radius:50%;
 }















  .square {

    padding: 50px 350px ;
    background-color: #fff;
    background-size: 16px 16px;
    background-position: 0 0, 0px 0px;
    background-image:
    linear-gradient(rgba(220, 220, 220, 0.5)    , transparent 0),
    linear-gradient(90deg, rgba(220, 220, 220, 0.5) 1px, transparent 0),
    linear-gradient(rgba(220, 220, 220, 0.5) 1px, transparent 0),
    linear-gradient(90deg, rgba(220, 220, 220, 0.5) 1px, transparent 0);

}


  #myDIV {
    color: rgb(0, 0, 0);
  }

  .rectangle44{
     position: relative;
width: 200px;
height: 66px;
left: -250px;
top: 20px;
background: rgba(5, 153, 173, 0.1);
border: 4px solid rgba(4, 118, 134, 0.8);
border-radius: 8px;
transition: width 0.5s, height 0.5s;

}
  .rectangle44:hover {
    width: 200px;
    height: 66px;
  }
  .MySpecialTag:before
  {
      content: "＃紙質設備";
  }
  .MySpecialTag:hover:before
  {
      content: "該綜述介紹了可用於紙質設備之檢測方法之原理";
  }

 
 